{% extends "base.html" %}{% load static %} {% block title %}Home{% endblock %} {% block content %}



<div class="main-banner" id="top">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6 align-self-center">
            <div class="owl-carousel owl-banner">
                <div class="item header-text">
                    <h6>Omzetboost met krachttools</h6>
                    <h2>Boost uw <em>omzet</em> met onze <span>krachtige</span> bedrijfstools</h2>
                    <p>Verhoog uw omzet exponentieel met onze grenzeloze bedrijfszoekkracht. Wij vinden moeiteloos de contactgegevens van bedrijven, ongeacht hun grootte of online zichtbaarheid. Ideaal voor het targeten van bedrijven in uw B2B businessstrategie.</p>
                    <div class="down-buttons">
                        <div class="main-blue-button-hover">
                            <a href="#contact">Vraag een gratis offerte aan</a>
                        </div>
                        {% if Site.phone %}
                            <div class="call-button">
                                <a href="#"><i class="fa fa-phone"></i> {{Site.phone}}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="item header-text">
                    <h6>Krachtige e-mailcampagne</h6>
                    <h2>Ontdek onze <em>kracht</em> voor uw <span>e-mailcampagnes</span></h2>
                    <p>Maximaliseer uw e-mailcampagnes met onze bedrijvenlijst en ontdek grenzeloze mogelijkheden om uw bedrijf uit te breiden</p>
                    <div class="down-buttons">
                        <div class="main-blue-button-hover">
                        <a href="#services">Bekijk nu onze service!</a>
                        </div>
                        {% if Site.phone %}
                            <div class="call-button">
                                <a href="#"><i class="fa fa-phone"></i> {{Site.phone}}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<div id="services" class="our-services section">
    <div class="services-right-dec">
        <img src="{% static 'assets/images/services-right-dec.png' %}" alt="">
    </div>
    <div class="container">
        <div class="services-left-dec">
        <img src="{% static 'assets/images/services-left-dec.png' %}" alt="">
        </div>
        <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h2>Wij <em>Bieden</em> De Beste Service Met <span>Onze Tools</span></h2>
                <span>Onze Diensten</span>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
            <div class="owl-carousel owl-services">
            <div class="item">
                <h4>Gratis Offerte</h4>
                <div class="icon"><img src="{% static 'assets/images/service-icon-01.png' %}" alt=""></div>
                <p>Ontvang een gratis offerte met klanttevredenheid en persoonlijke service</p>
            </div>
            <div class="item">
                <h4>Bespaar tijd  &amp; kosten</h4>
                <div class="icon"><img src="{% static 'assets/images/service-icon-02.png' %}" alt=""></div>
                <p>Bespaar tijd en kosten met ons efficiënte lokale bedrijfsemaildocument</p>
            </div>
            <div class="item">
                <h4>Omzetboost</h4>
                <div class="icon"><img src="{% static 'assets/images/service-icon-03.png' %}" alt=""></div>
                <p>Verhoog uw omzet met ons document vol lokale bedrijfs-e-mailadressen</p>
            </div>
            <div class="item">
                <h4>Betrouwbare data</h4>
                <div class="icon"><img src="{% static 'assets/images/service-icon-04.png' %}" alt=""></div>
                <p>Vertrouw op onze nauwkeurige en actuele gegevens voor uw bedrijfsbehoeften</p>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div id="about" class="about-us section">
<div class="container">
    <div class="row">
    <div class="col-lg-6 align-self-center">
        <div class="left-image">
        <img src="{% static 'assets/images/about-left-image.png' %}" alt="Two Girls working together">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="section-heading">
            <h2>Boost uw bedrijfsgroei met ons <em>CSV-bestand</em> vol contactgegevens van <span>lokale bedrijven</span> en bespaar tijd</h2>
            <p>Kies voor ons om snel en efficiënt toegang te krijgen tot een breed scala aan contactgegevens van lokale bedrijven. Bespaar waardevolle tijd en energie die u anders zou besteden aan het handmatig verzamelen van deze gegevens. Met ons CSV-bestand kunt u direct aan de slag met het benaderen van potentiële klanten en het laten groeien van uw bedrijf.</p>
            <div class="row">
                <div class="col-lg-4">
                    <div class="fact-item">
                        <div class="count-area-content">
                            <div class="icon">
                                <img src="{% static 'assets/images/service-icon-01.png' %}" alt="">
                            </div>
                            <div class="count-digit" data-start="0" data-target="19">0</div>
                            <div class="count-title">projecten</div>
                            <p>Onze projecten leiden bedrijven naar succes en groei, ongeacht grootte.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="fact-item">
                        <div class="count-area-content">
                            <div class="icon">
                                <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
                            </div>
                            <div class="count-digit" data-start="0" data-target="8">0</div>
                            <div class="count-title">Bedrijven</div>
                            <p>Verhoog uw omzet met onze bewezen aanpak en geniet van zakelijk succes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="fact-item">
                        <div class="count-area-content">
                            <div class="icon">
                                <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
                            </div>
                            <div class="count-digit" data-start="0" data-target="23">0</div>
                            <div class="count-title">Tevreden Klanten</div>
                            <p>Word lid van onze tevreden klanten en laat ons ook uw bedrijf transformeren.</p>
                        </div>
                    </div>
                </div>

                <script>
                    const countDigits = document.querySelectorAll('.count-digit');
                    const options = { root: null, rootMargin: '0px', threshold: 0.5 };
                    const observer = new IntersectionObserver(entries => {
                        entries.forEach(entry => {
                            if (entry.isIntersecting) {
                                const start = +entry.target.getAttribute('data-start');
                                const target = +entry.target.getAttribute('data-target');
                                const duration = 3000; // 3 seconds in milliseconds
                                const frameCount = Math.abs(target - start);
                                const interval = duration / frameCount;
                                let count = start;
                                const updateCount = () => {
                                    count++;
                                    entry.target.textContent = count;
                                    if (count < target) setTimeout(updateCount, interval);
                                };
                                updateCount();
                            }
                        });
                    }, options);
                    countDigits.forEach(countDigit => { observer.observe(countDigit); });
                </script>

            </div>
        </div>
    </div>
    </div>
</div>
</div>

<div id="portfolio" class="our-portfolio section">
    <div class="portfolio-left-dec">
        <img src="{% static 'assets/images/portfolio-left-dec.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h2>Onze Recente <em>Projecten</em> &amp; Casestudies <span>voor Klanten</span></h2>
                <span>Onze Successen</span>
            </div>
        </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12">
            <div class="owl-carousel owl-portfolio">
                <div class="item">
                    <div class="thumb">
                    <img src="{% static 'assets/images/portfolio-01.jpg' %}" alt="">
                    <div class="hover-effect">
                        <div class="inner-content">
                        <a rel="sponsored" href="sponsored" target="_parent">
                            <h4>Zorg bedrijf Rotterdam</h4>
                        </a>
                        <span>CSV van 500 e-mails gekocht &amp; tijd bespaard</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumb">
                    <img src="{% static 'assets/images/portfolio-02.jpg' %}" alt="">
                    <div class="hover-effect">
                        <div class="inner-content">
                        <a href="sponsored">
                            <h4>Computer bedrijf Zaandam</h4>
                        </a>
                        <span>CSV van 200 e-mails gekocht &amp; tijd bespaard</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumb">
                    <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                    <div class="hover-effect">
                        <div class="inner-content">
                        <a rel="sponsored" href="" target="_parent">
                            <h4>Groothandel Gorinchem</h4>
                        </a>
                        <span>CSV van 200 e-mails gekocht &amp; tijd bespaard</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumb">
                    <img src="{% static 'assets/images/portfolio-04.jpg' %}" alt="">
                    <div class="hover-effect">
                        <div class="inner-content">
                        <a href="#">
                            <h4>Detacheringsbureau Rijswijk</h4>
                        </a>
                        <span>CSV van 1000 e-mails gekocht &amp; tijd bespaard</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div id="pricing" class="pricing-tables">
    <div class="tables-left-dec">
        <img src="{% static 'assets/images/tables-left-dec.png' %}" alt="">
    </div>
    <div class="tables-right-dec">
        <img src="{% static 'assets/images/tables-right-dec.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading">
                    <h2>Lokaal Emails van bedrijven</h2>
                    <p>Bespaar kostbare tijd en bereik <strong class="main-color">direct</strong> nieuwe klanten met onze handige CSV-bestanden vol contactgegevens van lokale bedrijven. <strong class="main-color">Verhoog uw inkomsten</strong> en groei uw bedrijf zonder het gedoe van eindeloos zoeken naar contactinformatie.</p>
                    <span>Bestel vandaag nog uw CSV en geef uw bedrijf een boost!</span>
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-lg-4">
                <div class="item">
                    <h4>{{ service.name }}</h4>
                    <em>€{{ service.discounted_price }}</em>
                    <span>€{{ service.price }}</span>


                    <small>Ontdek waardevolle leads en bereik potentiële klanten!</small>
                    <ul>
                        <li>{{ service.emails }} bedrijven</li>
                        <li>Uitgebreide bedrijfsinformatie</li>
                        <li>Volledige bedrijfsprofielen</li>
                        <li>Actuele bedrijfsgegevens</li>
                    </ul>
                    

                    <div class="main-blue-button-hover">
                        <a href="#contact">Vraag nu een gratis offerte aan</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- 
<div id="subscribe" class="subscribe">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="inner-content">
<div class="row">
    <div class="col-lg-10 offset-lg-1">
    <h2>Know Your Website SEO Score by Email</h2>
    <form id="subscribe" action="" method="get">
        <input type="text" name="website" id="website" placeholder="Your Website URL" required="">
        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
        <button type="submit" id="form-submit" class="main-button ">Subscribe</button>
    </form>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
 -->

<!-- 
<div id="video" class="our-videos section">
    <div class="videos-left-dec">
    <img src="{% static 'assets/images/videos-left-dec.png' %}" alt="">
    </div>
    <div class="videos-right-dec">
    <img src="{% static 'assets/images/videos-right-dec.png' %}" alt="">
    </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
        <div class="naccs">
            <div class="grid">
            <div class="row">
                <div class="col-lg-8">
                <ul class="nacc">
                    <li class="active">
                    <div>
                        <div class="thumb">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/JynGuQx4a1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="overlay-effect">
                            <a href="#"><h4>Project One</h4></a>
                            <span>SEO &amp; Marketing</span>
                        </div>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <div class="thumb">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/RdJBSFpcO4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="overlay-effect">
                            <a href="#"><h4>Second Project</h4></a>
                            <span>Advertising &amp; Marketing</span>
                        </div>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <div class="thumb">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/ZlfAjbQiL78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="overlay-effect">
                            <a href="#"><h4>Project Three</h4></a>
                            <span>Digital &amp; Marketing</span>
                        </div>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <div class="thumb">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/mx1WseE7-0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="overlay-effect">
                            <a href="#"><h4>Fourth Project</h4></a>
                            <span>SEO &amp; Advertising</span>
                        </div>
                        </div>
                    </div>
                    </li>
                </ul>
                </div>
                <div class="col-lg-4">
                <div class="menu">
                    <div class="active">
                    <div class="thumb">
                        <img src="{% static 'assets/images/video-thumb-01.png' %}" alt="">
                        <div class="inner-content">
                        <h4>Project One</h4>
                        <span>SEO &amp; Marketing</span>
                        </div>
                    </div>
                    </div>
                    <div>
                    <div class="thumb">
                        <img src="{% static 'assets/images/video-thumb-02.png' %}" alt="">
                        <div class="inner-content">
                        <h4>Second Project</h4>
                        <span>Advertising &amp; Marketing</span>
                        </div>
                    </div>
                    </div>
                    <div>
                    <div class="thumb">
                        <img src="{% static 'assets/images/video-thumb-03.png' %}" alt="Marketing">
                        <div class="inner-content">
                        <h4>Project Three</h4>
                        <span>Digital &amp; Marketing</span>
                        </div>
                    </div>
                    </div>
                    <div>
                    <div class="thumb">
                        <img src="{% static 'assets/images/video-thumb-04.png' %}" alt="SEO Work">
                        <div class="inner-content">
                        <h4>Fourth Project</h4>
                        <span>SEO &amp; Advertising</span>
                        </div>
                    </div>
                    </div>
                </div>
                </div>             
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
 -->

<div id="contact" class="contact-us section">
    <div class="container">
        <div class="row">
        <div class="col-lg-7">
            <div class="section-heading">
                <h2>Neem gerust <em>contact</em> met ons op of vraag een <span>Gratis offerte</span> aan</h2>
            <div id="map">
                <iframe src="https://maps.google.com/maps?q=Moreelsepark%2065,%203511%20EP%20Utrecht&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="360px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
            <div class="info">
                {% if Site.phone %}<span><i class="fa fa-phone"></i> <a href="#">Nummer<br>{{Site.phone}}</a></span>{% endif %}
                {% if Site.mail %}<span><i class="fa fa-envelope"></i> <a href="#">mail<br>{{Site.mail}}</a></span>{% endif %}
            </div>
            </div>
        </div>
        <div class="col-lg-5 align-self-center">
            
            {% if messages %}
                <ul class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form id="contact" action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Voornaam" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Achternaam" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="info@domein.nl" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="06 123 456 78" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="kvk" name="kvk" placeholder="KVK (Optioneel)">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="website" name="website" placeholder="www.uw_website.nl" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control" id="service" name="service" required>
                                <option value="" disabled selected>Soort Service</option>
                                {% for service in services %}
                                    <option value="{{ service.id }}">{{ service.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" id="remarks" name="remarks" placeholder="Graag zouden wij dit voor een periode van twee weken willen ontvangen." rows="4"></textarea>
                        </div>
                    </div>

                    <!-- Honeypot Field (hidden from users) -->
                    <div style="display: none;">
                        <label for="honeypot">Please leave this field empty:</label>
                        <input type="text" id="honeypot" name="honeypot">
                    </div>
                   
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg" id="submit">Submit</button>
                    </div>
                </div>
            </form>

        </div>
        </div>
    </div>
    <div class="contact-dec">
        <img src="{% static 'assets/images/contact-dec.png' %}" alt="">
    </div>
    <div class="contact-left-dec">
        <img src="{% static 'assets/images/contact-left-dec.png' %}" alt="">
    </div>
</div>


<div class="footer-dec">
    <img src="assets/images/footer-dec.png" alt="">
</div>


{% endblock %}
