





WebApp
    User side
        - Home, See Joblists
    Business Side
        - Users finder. 
        - MSG box






User account
    - Register, Login, Change Password.
    - Profiel page -> Personal info
    - CV Upload, description

Business Account
    - Register, Login, Change Password
    - Company Profiel page -> Company info
    - Joblist Create, Update, Delete option
    - 

Motive
    - Create specific jobb Nieche domains. -> All connected to Main Branch
        - E.g. Main.com, Health.com, IT.com, Finance.com, 
    - User / Business Account will be connected with all domains. They can be displayed on multi domains, dep on there wants.

Keypoints
    - Business create Joblist once, and never look at it. We notify them via mail on potentential
    - Find your Dream Job / Find the best Colleague

Future
    - User -> Business Contact, Middelperson
    - Message Box. 








